.connected{
    background-color: green;
    content: "ONLINE";
    text-align: center;
    font-size: large;
}

.disconnected{
    background-color: red;
    content: "OFFLINE";
    text-align: center;
    font-size: large;
}